
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}

header{
	background-color: rgba( 33, 110, 163, 1 );
	display: flex;
	align-items: center;
	padding: 10px;
}

header h1{
	color: white;
	text-align: center;
	flex-grow: 1;
	font-size: 20px;
	font-family: Arial;
}




#sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    background: rgba(255, 255, 255, 0.95);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    overflow-y: auto;
    max-height: 90%;
    transition: width 0.3s ease, padding 0.3s ease;
    z-index: 1000;
  }

#sidebar.collapsed {
    width: 40px;
    padding: 10px 5px;
  }

  #sidebar.collapsed h2,
  #sidebar.collapsed ul {
    display: none;
  }

  #toggleSidebar {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 3px;
  }

  #deptos-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }

  #deptos-list li {
    font-size: 14px;
    margin-bottom: 4px;
  }





#logo {
	height: 40px;
	margin-right: 20px;
	display: flex;
	align-items: center;	
}

#map{
	/*border-style: solid;*/
	height: calc(100% - 100px);
	width: 100%;	
}



@media(max-width:768px){
	header{
		flex-direction:column;
		text-align:center;
	}
	
	#logo{
	margin-right: 0;
	margin-bottom: 10px;	
	}
}



